.idea
*.sln.DotSettings.user
formatDiagnosticLog.binlog

Build/

**/obj/
**/bin/
**/*.appsettings.json5
/src/Aviationexam.PayPalSdk.*/openapi.*.json
/src/Aviationexam.PayPalSdk.Payments/PayPalPaymentsClientV2/

.env.*
